extends ../../layout/index.pug
block main
  - if (messages.update)
    .message.update
      .alert.alert-success(
    show-alert
    data-time = "5000") #{messages.update}

  - if (messages.delete)
    .message.delete
      .alert.alert-danger(
    show-alert
    data-time = "5000") #{messages.delete}
  h1 #{titlePage}
  a.btn.btn-outline-success.mb-3(href='/admin/account/create') +Create new accouut
  .card 
    .card-body   
      .card-title List of accounts
        table.table.table-hover.table-sm 
          thead
            tr 
              th Index
              th Name
              th Email
              th RoleID
              th Status
              th Action
          tbody 
            each item,index in account
              tr 
                td #{index+1}
                td #{item.fullName}
                td #{item.email}
                td #{item.roleID}
                td
                  if(item.status=='active')
                    a(href='#', data-status = item.status, data-id = item.id, class='badge badge-success') Active
                  else
                    a(href='#', data-status = item.status, data-id = item.id,  class='badge badge-danger') Inactive
                td 
                  a.btn.btn-secondary(href=`/admin/account/view/${item.id}`) View
                  a.btn.btn-warning.ml-1.mr-1(href=`/admin/account/change-password/${item.id}`) Change password
                  button.btn.btn-danger(id='deleteAccountBtn', item-id=item.id ) Delete    
        form(
          id='deleteAccountForm'
          action = ''
          raw-path = '/admin/account/delete'
          method='POST'
        )
        script(src='/js/account.js')