extends ../../layout/index.pug
include ../../mixins/box-head.pug
block main
  +box-head("Danh sách sản phẩm")
  div.ml-5 #{message}

  .row
    each item in products 
      .col-4.mb-3
        .product-item.align-center
          .inner-img
            img.item-img(src=item.thumbnail, alt='img')
          .inner-content
            .inner-title #{item.tittle}
            .inner-priceOld #{item.price.toLocaleString('vi-VN')}đ  
            .inner-priceNew #{(Number((item.price - item.price * item.discountPercentage * 0.01).toFixed(0))).toLocaleString('vi-VN')}đ
            .inner-discount.badge.badge-danger -#{item.discountPercentage}%
            <br>
            a(href=`/product/${item.id}`).btn.btn-outline-success.mt-1 Xem chi tiết
