extends ../../layout/index.pug
block main
  - if (messages.update)
    .message.update
      .alert.alert-success(
    show-alert
    data-time = "5000") #{messages.update}
  .card.border-primary.ml-5(style="width: 50rem")
    .header 
      img.card-img-top(src=`${product.thumbnail}` alt="..." style="width: 15rem")
      .mt-5 
        form(
        action = `/cart/add/${product.id}`
        method = "POST"
        ) 
          input.d-none(name='productID' value=product.id)
          .input-group(style="width: 25rem")
            span.input-group-text Số lượng
            input.form-control(type='number' name='quantity' required) 
            input.btn.btn-success(type='submit' value='Thêm vào giỏ hàng') 
    .card-body
      h5.card-title.text-primary #{product.tittle}
      table.table.table-bordered
        tr 
          td Giới thiệu 
          td #{product.description}
        tr 
          td Giá
          td #{product.price.toLocaleString('vi-VN')}đ
        tr 
          td Giảm giá
          td #{product.discountPercentage}
        tr 
          td Số lượng
          td #{product.stock}
        tr 
          td Trạng thái
          - if(product.status =="active")
              td 
                .badge.badge-success Hoạt động
          -else 
            td 
              .badge.badge-warning Dừng hoạt động



