extends ../../layout/index.pug
block main
  - if (messages.update)
    .message.update
      .alert.alert-success(
    show-alert
    data-time = "5000") #{messages.update}

  - if (messages.delete)
    .message.delete
      .alert.alert-danger(
    show-alert
    data-time = "5000") #{messages.delete}
  h1 #{titlePage}
  a.btn.btn-outline-success.mb-3(href='/admin/role/create') Thêm mới
  .card 
    .card-body   
      .card-title Danh sách nhóm quyền
        table.table.table-hover.table-sm 
          thead
            tr 
              th STT
              th Tiêu đề
              th Mô tả
              th Hành động
          tbody 
            each item, index in role 
              tr 
                td #{index+1}
                td #{item.title}
                td #{item.description}
                td 
                  a.btn.btn-secondary(href=`/admin/role/view/${item.id}`) Xem
                  a.btn.btn-warning.ml-1.mr-1(href=`/admin/role/edit/${item.id}`) Sửa
                  a.btn.btn-danger(href=`/admin/role/delete/${item.id}`) Xóa    
