extends ../../layout/index.pug
block main
  .card
    .row
      .col-6
        ul.list-group.list-group-flush
          each item in statusFilterBtn
            li.list-group-item
              button(class= `${item.class}` btn-status=`${item.status}`) #{item.text}
      .col-6.mt-4
        form.input-group-prepend#searchForm
          input.form-control.rounded#searchTxt(place-holder='search' placeholder="Search..." aria-label="Search" aria-describedby="search-addon" value=searchKey)
          button.btn.btn-outline-secondary#searchBtn(type='submit') Search

  .card 
    .card-body   
      .card-title Danh sách sản phẩm 
        table.table.table-hover.table-sm 
          thead
            tr 
              th STT
              th Hình ảnh
              th Tiêu đề
              th Giá
              th Trạng thái
              th Hành động
            tbody 
            each item , index in products 
              tr 
                td #{index+1}
                td 
                  img(src= `${item.thumbnail}`
                  alt = `Sản phẩm ${index}`
                  width='100px'
                  heigh='auto'
                  )
                td  #{item.tittle} 
                td #{item.price}
                td 
                  if(item.status=='active')
                    a(href='#', class='badge badge-success') Hoạt động
                  else
                    a(href='#', class='badge badge-danger') Dừng hoạt động
                td  
                  button(class='btn btn-warning btn-sm') Sửa
                  button(class='btn btn-danger btn-sm ml-1') Xoá
  nav(aria-label="Page navigation example")
  ul.pagination
    -for(var i = 1; i <= count; i++)
      li.page-item  
        div.page-link#pageBtn #{i}
    