extends ../../layout/index.pug
block main
  - if (messages.update)
    .message.update
      .alert.alert-success(
    show-alert
    data-time = "5000") #{messages.update}

  - if (messages.delete)
    .message.delete
      .alert.alert-danger(
    show-alert
    data-time = "5000") #{messages.delete}
  .card
    .row
      .col-6
        ul.list-group.list-group-flush
          each item in statusFilterBtn
            li.list-group-item
              button(class= `${item.class}` btn-status=`${item.status}`) #{item.text}
      .col-6.mt-4
        form.input-group-prepend#searchForm
          input.form-control.rounded#searchTxt(place-holder='search' placeholder="Search..." aria-label="Search" aria-describedby="search-addon" value=searchKey)
          button.btn.btn-outline-secondary#searchBtn(type='submit') Search
        a.btn.btn-success.mt-5.ml-5(href="/admin/product/create") Tạo mới sản phẩm
  .card 
    .card-body   
      form(
        action ='/admin/product/multi-change?_method=PATCH',
        method = 'POST'
      )
        .row
          .col-4
            .form-group
              select(class="form-control" id="type" name='type')
                option(value='active') Hoạt động
                option(value='inactive') Dừng hoạt động 
          .col-4
            .form-group
              input(
                id = 'txtIds'
                type='text',
                name='ids',
                value='',
                class='form-control'
              )
          .col-4
            button(type='submit' class='btn btn-primary') Áp dụng
      .card-title Danh sách sản phẩm 
        table.table.table-hover.table-sm 
          thead
            tr 
              th 
                input(type="checkbox" id="checkAll" name="checkAll")
              th STT
              th Hình ảnh
              th Tiêu đề
              th Giá
              th Trạng thái
              th Hành động
            tbody 
            each item , index in products 
              tr 
                td 
                  input(type="checkbox" id="checkOne" name="checkOne" data-id = item.id)

                td #{index+1}
                td 
                  img(src= `${item.thumbnail}`
                  alt = `Sản phẩm ${index}`
                  width='100px'
                  heigh='auto'
                  )
                td  #{item.tittle} 
                td #{item.price}
                td 
                  if(item.status=='active')
                    a(href='#', data-status = item.status, data-id = item.id, button-change-status, class='badge badge-success') Hoạt động
                  else
                    a(href='#', data-status = item.status, data-id = item.id, button-change-status, class='badge badge-danger') Dừng hoạt động
                td  
                  button(class='btn btn-warning btn-sm' data-id = item.id button-edit-item) Sửa
                  button(class='btn btn-danger btn-sm ml-1' data-toggle="modal" data-target="#staticBackdrop" data-id = item.id  button-delete-item-step1) Xoá
                  .modal.fade#staticBackdrop(data-backdrop="static", data-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
                    .modal-dialog.modal-dialog-centered
                      .modal-content
                        .modal-header
                          h5.modal-title#staticBackdropLabel Modal title
                          button.close(type="button", data-dismiss="modal", aria-label="Close")
                            span(aria-hidden="true") &times;
                        .modal-body
                          p Xác nhận xoá sản phẩm
                        .modal-footer
                          button.btn.btn-secondary(type="button", data-dismiss="modal") Thoát
                          button.btn.btn-danger(type="button" button-delete-item-step2) Xoá

  nav(aria-label="Page navigation example")
  ul.pagination
    -for(var i = 1; i <= count; i++)
      -if(i==currentPage)
        li.page-item.active
          div.page-link#pageBtn #{i}
      - else
        li.page-item
          div.page-link#pageBtn #{i}


  form(
    action=''
    method="POST",
    id='form-change-status',
    raw-path='/admin/product/changeStatus'
  )   
  form(
    action=''
    method="POST",
    id='form-delete-item',
    raw-path='/admin/product/delete'
  ) 
    