extends ../../layout/index.pug
block main
  .card.border-primary.ml-5(style="width: 30rem")
    img.card-img-top(src=`${product.thumbnail}` alt="...")
    .card-body
      h5.card-title.text-primary #{product.tittle}
      table.table.table-bordered
        tr 
          td Description
          td #{product.description}
        tr 
          td Price
          td #{(Number((product.price - product.price * product.discountPercentage * 0.01).toFixed(0))).toLocaleString('vi-VN')}đ
        tr 
          td Discount
          td #{product.discountPercentage}%
        tr 
          td Stock
          td #{product.stock}
        tr 
          td Status
          - if(product.status   =="active")
              td 
                .badge.badge-success Active
          -else 
            td 
              .badge.badge-warning Inactive

